<html ng-app="blackcoffeephp">
<head>
	<title>BlackCoffeePHP</title>

	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

	<link rel="stylesheet" href="dist/libs/css/bootstrap/bootstrap.min.css">
	
	<link rel="stylesheet" href="dist/libs/css/datetimepicker/datetimepicker.css">

	<!-- <link rel="manifest" href="manifest.json"> -->

	<style type="text/css">
		body {
			/* background: #2f3033; */
			background-image: url('dist/img/txtmad2.jpg');
		}
		.logo {
			 /* background: #e6e6e6;  */
			font-family: "Comic Sans MS", "Comic Sans", cursive;
			background-image: url('dist/img/txtmad2.jpg');
			/* color: #fff; */
			width: 100%;
			height: 100%;
			position: fixed;
			z-index: 1050;
			text-align: center;
		}
		.logo > img {
			top:500;
			padding: 50px;
			height: 500px;
		}
		.float-logo {
            background: url('dist/img/bcphplogo.png') no-repeat;
            background-size: 120px;
            background-position: 50%;
            /*border: 1px solid;*/
            height: 120px;
            width: 120px;
            padding: 10px;
            border-radius:50px;
            margin: 0 auto;
            position: fixed;
            right: 1%;
			 /* top: 1%;   */
			bottom: 6%;  
			z-index: 1050;
            color: black;
		}
		@media only screen and (max-width: 768px) {
			/* For mobile phones: */
			[class*="float-"] {
				background-size: 50px;
				height: 50px;
				width: 50px;
				top: 1%;
				z-index: 1050;
			}
			.logo > img {
				top:500;
				padding: 50px;
				height: 300px;
			}
		}
	</style>

</head>
<body ng-controller="main">
	<div class="float-logo"></div>
	<div class="logo" ng-if="splash">
		<br><br>
		<h1> Bem vindo </h1>
		<h1> Black Coffee PHP </h1>
		<h4>Criado por Adelson Guimarães</h4>
		<img src="dist/img/bcphplogo.png">
		<h1>2017 - Versão 2.0 </h1>
		<small>Atualizado em 10/08/2017</small>
	</div>
	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    	<div class="container" style="padding-top:15px; text-align:center; color:#fff;">
			<h4>BlackCoffeePHP 2.0</h4>
	    </div>
	</nav>
	<br><br><br><br><br>
	<div class="container" ng-if="proccess">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3>Processo em andamento... <img src="http://fm.gazetadigital.com.br/site/enquete/imagens/loading.gif"></h3>
			</div>
			<div class="panel-body">
				<div ng-repeat="obj in andamento" ng-class="obj.bgclass" >
					<div ng-class="obj.textclass" style="padding:10px;">
						<span style="font-weight:bold; font-size:16px;" ng-bind="obj.msg"></span>
						<span class="glyphicon" ng-class="obj.iconclass"></span>
					</div>
				</div>
				<hr>
				<br>
				<div class="btn-group pull-right">
					<button class="btn btn-default btn-lg" type="button" ng-click="gerar(conf)" ng-if="error">
						Processar novamente
					</button>
					<button class="btn btn-danger btn-lg" type="button" ng-click="cancelar(conf)" ng-if="error">
						Cancelar
					</button>
				</div>
			</div>
		</div>
	</div>
	<div class="container" ng-if="!proccess && srcexist">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3>Atenção!</h3>
			</div>
			<div class="panel-body">
				<form>
					<h3> Parece que existem arquivos de um projeto gerado anteriormente, o que deseja fazer? <small>
					<hr>
					<div class="form-group" align=''>
						<button class="btn btn-primary btn-lg btn-block" ng-click="visitHome()">
							Consultar Home.
							<i class="glyphicon glyphicon-home"></i>
						</button>
						<button class="btn btn-danger btn-lg btn-block" ng-click="destroySrc()">
							Destruir Projeto.
							<i class="glyphicon glyphicon-remove"></i>
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	<div class="container" ng-if="!proccess && !srcexist">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3>Configurações do Sistema</h3>
				</div>
				<div class="panel-body">
					<form>
						<h3>Informações para conexão com banco de dados <small>
						<hr>
						<div class="form-group">
							Banco de Dados <span style="color:red;">*</span>
							<select class="form-control" ng-model="conf.db">
								<option value="mysql">MySQL</option>
								<option value="postgresql" disabled>PostgreSQL - Não suportado</option>
							</select>
						</div>
						<div class="form-group">
							Host <span style="color:red;">*</span>
							<input type="text" class="form-control" id="host" name="host" ng-model="conf.host">
						</div>
						<div class="form-group">
							Usuário <span style="color:red;">*</span>
							<input type="text" class="form-control" id="user" name="user" ng-model="conf.user">
						</div>
						<div class="form-group">
							Senha <input type="password" class="form-control" id="senha" name="senha" ng-model="conf.senha">
						</div>
						<div class="form-group">
							Nome do Banco  <span style="color:red;">*</span>
							<input type="text" class="form-control" id="banco" name="banco"  ng-model="conf.banco">
						</div>
						<h3>Front-end <small> - Framework front-end que será utilizado nas telas</small></h3>
						<hr>
						<div class="form-group">
							Escolha a tecnológia:
							<select class="form-control" id="tecnologia" name="tecnologia"  ng-model="conf.front">
								<option value="jquery">JQuery</option>
								<option value="angularjs" disabled>AngularJs - Não suportado</option>
								<option value="extjs" disabled>ExtJs - Não suportado</option>
							</select>
						</div>
						<h3>Documentação <small> - Essas informações ficarão no topo de cada arquivo PHP</small></h3>
						<hr>
						<div class="form-group">
							Projeto: <input type="text" class="form-control" id="projeto" name="projeto"  ng-model="conf.doc.projeto">
						</div>
						<div class="form-group">
							Dono do Produto (P.O): <input type="text" class="form-control" id="po" name="po"  ng-model="conf.doc.po">
						</div>
						<div class="form-group">
							Data Inicial: <input type="date" class="form-control" id="datainicio" name="datainicio"  ng-model="conf.doc.datainicio">
							
						</div>
						<div class="form-group">
							<input type="hidden" class="form-control" id="equipe" name="equipe"  ng-model="conf.equipe">
						</div>
						<h3>Equipe de Desenvolvimento</h3>
						<hr>
						<div class="row">
							<div class="col-md-3">
								<div class="form-group">
									Função:
									<select class="form-control" id="funcao" name="funcao"  ng-model="membro.funcao">
										<option value>Selecione a função</option>
										<option value="Gerente de Projeto">Gerente de Projeto</option>
										<option value="Gerente de Projeto">Gerente de Desenvolvimento</option>
										<option value="Analista">Analista</option>
										<option value="DBA">DBA</option>
										<option value="Coordenador">Coordenador</option>
										<option value="Desenvolvedor">Desenvolvedor</option>
										<option value="Tester">Tester</option>
									</select>
								</div>
							</div>
							<div class="col-md-7">
								<div class="form-group">
									Nome: <input type="text" class="form-control" id="nome" name="nome"  ng-model="membro.nome">
								</div>
							</div>
							<div class="col-md-2">
								&nbsp;
								<button class="btn btn-primary btn-block" type="button" ng-disabled="!membro.funcao || !membro.nome" ng-click="addmembro(membro)">Adicionar</button>
							</div>
						</div>

						<div class="bg-danger" style="text-align:center;" ng-if="!equipe.length">
							<p class="text-danger" style="padding:15px;">
								<strong>Não há membros de equipe cadastrados</strong>
							</p>
						</div>
						<div id="tableequipe" ng-if="equipe.length">
							<table class="table table-striped">
								<thead>
									<tr>
										<td>Função</td>
										<td>Nome</td>
									</tr>
								</thead>
								<tbody id="tbody">
									<tr ng-repeat="membro in equipe">
										<td ng-bind="membro.funcao"></td>
										<td ng-bind="membro.nome"></td>
									</tr>
								</tbody>
							</table>
						</div>
						<br>
						<button class="btn btn-success pull-right" type="button" id="gerar" name="gerar" ng-click="gerar(conf)" ng-disabled="!conf.db || !conf.host || !conf.user || !conf.banco">
							Gerar Classes
						</button>
					</form>
					<br>
					<hr>
					<h3>Classes que serão geradas.</h3>
					<ul>
						<li><label><strong>Conexão</strong> : Arquivo responsável pela comunicação com o banco de dados.</label></li>
						<li><label><strong>Autoload</strong> : Arquivo responsável pelo carregamento de classes.</label></li>
						<li><label><strong>Model</strong> : Arquivo model de cada classe.</label></li>
						<li><label><strong>DAO</strong> : Arquivo DAO de cada classe.</label></li>
						<li><label><strong>Control</strong> : Arquivo control de cada classe.</label></li>
						<li><label><strong>Rest</strong> : Arquivo rest de cada classe.</label></li>
						<li><label><strong>Teste</strong> : Arquivo teste de cada classe com JQuery.</label></li>
					</ul>
				</div>
				<div class="panel-footer">
					BlackCoffeePHP 2.0
				</div>
			</div>
	</div>
	<br><br><br><br><br>
	<nav class="navbar navbar-inverse navbar-fixed-bottom" role="navigation">
    	<div class="container" style="padding-top:15px; text-align:center; color:#fff;">
	         BlackCoffeePHP 2017 - by Adelson Guimarães
	    </div>
	</nav>

	<script src="dist/libs/js/jquery/jquery.min.js"></script>
	<script src="dist/libs/js/bootstrap/bootstrap.min.js"></script>

	<script src="dist/libs/js/angular/angular.min.js"></script>
	<script src="dist/libs/js/datetimepicker/datetimepicker.js"></script>
	<script src="dist/libs/js/datetimepicker/datetimepicker.templates.js"></script>

	<script type="text/javascript" src="dist/libs/js/moment/moment.min.js"></script>
	<script type="text/javascript" src="dist/libs/js/moment/moment-timezone.js"></script>
	
	<script type="text/javascript">
		angular.module("blackcoffeephp", []);
		angular.module("blackcoffeephp").controller("main", function ($scope, $http, $timeout) {
			function splash () {
				$scope.splash = true;
				var audio = new Audio('dist/songs/intro.mp3');
				audio.volume = '1.0';
				audio.play();
				$timeout(function () {
					$scope.splash = false;
				},3000);
			}
			splash();

			function verifySrcExist () {
				var http = new XMLHttpRequest();
				http.open('HEAD', 'src/teste', false);
				http.send();
				if ( http.status != 404 ) {
					$scope.srcexist = true;
				}
			};
			verifySrcExist();

			$scope.visitHome = function () {
				window.location.replace('src/teste');
			}
			$scope.destroySrc = function () {
				$scope.srcexist = false;
				$scope.proccess = true;
				
				var data = {
					'metodo':'destroySrc'
				};
				
				$http({
		            method: 'POST',
		            url: "dist/ini.php",
		            data: {data : data}
		        })
				.then(function successCallback(response) {
	                var data = response.data;
	                
					if(data.success){
						var andamento = {
							"msg": "O processo de destruição foi finalizado, em 5 segundos o Sistema será reiniciado.",
							"bgclass" : "bg-info",
							"textclass": "text-info",
							"iconclass": "glyphicon-open-file"
						};
						$scope.andamento.push(andamento);
						
						var audio = new Audio('dist/songs/success.mp3');
		   				audio.volume = '0.1';
		   				audio.play();

						$timeout(function() {window.location.replace('index.html')}, 5000);
					}else{
						var andamento = {
	                		"msg": data.msg,
	                		"bgclass" : "bg-danger",
	                		"textclass": "text-danger",
	                		"iconclass": "glyphicon-remove"
	                	};

	                	$scope.andamento.push(andamento); 
	                	$scope.error = true;

	                	var audio = new Audio('dist/songs/danger.mp3');
		   				audio.volume = '0.1';
		   				audio.play();
					}
				});
			}

			function startConfig () {
				$scope.andamento = [];
				$scope.proccess = false;
				$scope.membro = [];
				$scope.conf = {
					db : "mysql",
					front : "jquery",
					host   : "localhost",
					user   : "root",
					senha  : "",
					banco  : "",
					table : "",
					fields : [],
					doc: {
						projeto : "",
						po : "",
						datainicio : new Date(),
						equipe : []
					}
				}
				$scope.equipe = [];
			}
			startConfig();

			var i = 0;
			function http (obj, i) {
				var metodos = [
					"verificaDiretorio",
					"criarModel",
					"criarDAO",
					"criarControl",
					"criarRest",
					"criarTeste",
					"criarIndexTeste",
					"criarAutoload",
					"criarConexao",
					"criarResolve",
					"criarSuperDAO",
					"zipar"
				];

				$scope.proccess = true;

				// trata data
				var dt = moment(obj.doc.datainicio).format('DD/MM/YYYY');

				$http({
		            method: 'POST',
		            url: "dist/ini.php",
		            data: {data : obj}
		        })
				.then(function successCallback(response) {
	                var data = response.data;
	                if(data.success){
	                	var andamento = {
	                		"msg": data.msg,
	                		"bgclass" : "bg-success",
	                		"textclass": "text-success",
	                		"iconclass": "glyphicon-ok"
	                	};

	                	obj = data.data;
	                	
	                	$scope.andamento.push(andamento); 
	                	$scope.proccess = true;

	                	var audio = new Audio('dist/songs/success.mp3');
		   				audio.volume = '0.1';
		   				audio.play();

	                	$timeout(function() {
			                if (i<metodos.length) {
								obj.metodo = metodos[i];
								http(obj, i+1);
							}else{
								var andamento = {
			                		"msg": "O processo de criação foi finalizado, em 5 segundos você será redirecionado para a Home de Testes.",
			                		"bgclass" : "bg-info",
			                		"textclass": "text-info",
			                		"iconclass": "glyphicon-open-file"
			                	};
			                	$scope.andamento.push(andamento); 

			                	audio.play();

			                	$timeout(function() {window.location.replace('src/teste')}, 5000);
							}
						}, 1000);

	                }else{
	                	var andamento = {
	                		"msg": data.msg,
	                		"bgclass" : "bg-danger",
	                		"textclass": "text-danger",
	                		"iconclass": "glyphicon-remove"
	                	};

	                	$scope.andamento.push(andamento); 
	                	$scope.error = true;

	                	var audio = new Audio('dist/songs/danger.mp3');
		   				audio.volume = '0.1';
		   				audio.play();
	                }
	            }, function errorCallback(response) {

	            });
			}

			$scope.addmembro = function (obj) {
				var membro = {
					"funcao" : obj.funcao,
					"nome" : obj.nome
				}

				$scope.equipe.push(membro);
				$scope.membro = [];
			}

			$scope.gerar = function (obj) {
				$scope.andamento = [];
				
				$scope.error = false;
				
				obj.doc.equipe = $scope.equipe;
				obj.metodo ='verificaConexao';

				http(obj, i);
			}

			$scope.cancelar = function () {
				startConfig();
			}
		});
		
	</script>
</body>
</html>